<main class="min-vh-100">
    <div class="row">
        <div class="col-6 border border-4 d-flex flex-column justify-content-between">
            <section class="text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates, unde?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates, unde?
                </p>
            </section>

            <section>
                <button type="button" class="btn btn-primary btn-change-to-blue">
                    blue text
                </button>
                <button type="button" class="btn btn-success btn-change-to-green">
                    green text
                </button>
                <button type="button" class="btn btn-dark btn-change-to-normal">
                    normal text
                </button>
            </section>
        </div>
        <div class="col-6">
            <div class="border border-2 text" style="height: 200px">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum,
                    laboriosam.
                </p>
            </div>

            <div class="border border-2 text" style="height: 200px">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum,
                    laboriosam.
                </p>
            </div>
        </div>
    </div>
</main>

<script src="~/js/main.js" asp-append-version="true"></script>