<main class="min-vh-100">
    <h1 class="text-center">Change Text Color</h1>
    <div class="row">
        <div class="col-6 border border-4 d-flex flex-column justify-content-between p-5 rounded">
            <section class="text">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam facilis ratione molestiae quisquam molestias, veritatis fugiat modi aliquam eligendi quae alias quia. At amet quam aperiam. Doloremque pariatur quis aliquam.
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam facilis ratione molestiae quisquam molestias, veritatis fugiat modi aliquam eligendi quae alias quia. At amet quam aperiam. Doloremque pariatur quis aliquam.
                </p>
            </section>

            <section>
                <button type="button" class="btn btn-primary btn-change-to-blue">
                    blue text
                </button>
                <button type="button" class="btn btn-success btn-change-to-green">
                    green text
                </button>
                <button type="button" class="btn btn-dark btn-change-to-normal">
                    normal text
                </button>
            </section>
        </div>
        <div class="col-6">
            <div class="border border-2 text p-5 rounded">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam facilis ratione molestiae quisquam molestias, veritatis fugiat modi aliquam eligendi quae alias quia. At amet quam aperiam. Doloremque pariatur quis aliquam.
                </p>
            </div>

            <div class="border border-2 text p-5 rounded">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam facilis ratione molestiae quisquam molestias, veritatis fugiat modi aliquam eligendi quae alias quia. At amet quam aperiam. Doloremque pariatur quis aliquam.
                </p>
            </div>
        </div>
    </div>
</main>

<script src="~/js/main.js" asp-append-version="true"></script>